# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# IDE
.idea/
.vscode/
.pytest_cache/

# OS
.DS_Store

# Logs
logs/

# AI tools
.claude
.clinerules

# Build
build/
dist/

# Local DB
*.db
